body{
    margin: none;
}
.menu_area{
    background-color: #000;
}
.menu_area ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.menu_area ul li{
    display: inline-block;
    position: relative;

}
.menu_area ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.menu_area ul ul {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 200px;
    background-color: black;
    display: none;
    text-align: left;
}
.menu_area ul li a:hover{
    background: magenta;
}
.menu_area ul ul li{
    display: block;
}
.menu_area ul li:hover ul{
    display: block;
}